<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {{ bootstrap.load_css() }}

        <style>
        {% block styles %}
        body{
            background: #abcdef;
        }
        {% endblock %}
        </style>

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block content %}{% endblock %}
        {{ bootstrap.load_js() }}
    </body>
</html>